<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/test.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
       <div class="main-content">
         {{>header}}
         <p>This site uses your third party APIs to fetch weather.</p>
         <img class="portrait" src="./img/me.png">
       </div>
       
       {{>footer}}
       
</body>

</html>