body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
   color: #888888;
   border-top: 1px solid #eeeeee;
   margin-top: 16px;
   padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;

}

.portrait {
    width: 250px;
}

input {
    border: 1px solid black;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid black;
    padding: 8px;
    color:white;
    background-color: gray;
}

#loader {
    margin-top : 25px;
    width: 25px;
    height: 25px;
    border: 9px solid rgb(241, 8, 8);
    border-top: 9px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
